h1,h3{
  text-align:center;
}
#content{
  background-color:grey;
  border-radius:5px;
  text-align:center;
  min-height:350px;
  color:black;
}
#rules{
  font-size: 20px;
}
#start{
  margin-top: 10%;
}
#rule-li{
  margin-left:43%;
}
#display_question{
  border:2px solid black;
  border-radius:5px;	
  background-color:lightblue; 
  margin-top:2%;
}
#question_number,#counter{
  border:2px solid black;
}
#lists{
  height:200px;
  margin-top:2%;
  overflow-y:scroll;
}
.question_body{
  margin-top:2%;	
}
#finish_button{
  margin-top:20%;	
}
#options li{
  list-style-type: none;
  text-align:left;
  border:2px solid black;
  border-radius:5px;
}
#options li:hover{
  text-align:center;
  color:red;	
  background-color:lightgrey;	
}
#each_option{
  margin-top:1%;
  margin-left:1%;
}
#message{
	width:20%;
	text-align: center;
	margin-left:39%;
	margin-top:5%;
	font-size: 20px;
	border-radius:5px;
}
.red{
	background-color: #ff0033;
}
.green{
	background-color: green;
}