<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>     
    <link href="css/login.css" rel="stylesheet">
    <title>Login</title>
    <script >
      var app = angular.module("app",[]);
      var config = {
          headers : {
            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;',
            'Accept': 'application/quiz_app.v1'
          }
      };
      app.controller("myCtrl", function ($scope, $http,$window){
        var baseurl="https://arcane-wave-70796.herokuapp.com/api";
        $scope.login=function (){
          console.log("inside login");
          var data = $.param({
            user: {
                email: $scope.email,
                password: $scope.password
            }
          });
          $http.post(baseurl + "/login", data, config)
            .success(function(response){
              if(response.success==true)
                $window.location.href="quiz.html";
              else
                alert("could not log you in");
            })
            .error(function (response){
              alert("couldn't log you in");  
            });  
        };
        $scope.signIn=function(){
          console.log("inside sign");
          var data = $.param({
            user: {
              first_name: $scope.first,
              last_name: $scope.last,
              email: $scope.email,
              password: $scope.npassword                        
            }
          });   
          if(angular.equals($scope.npassword,$scope.rpassword) && $scope.first!=null && $scope.last!=null  && $scope.npassword!=null && $scope.rpassword!=null && $scope.city!=null && $scope.contact!=null)
          {  
            $http.post(baseurl+"/signup", data, config)
              .success(function(response){
                if(response.success==true)
                  alert("successfully signed up");
                else
                  alert("sign up failed");
              })
              .error(function (response){
                console.log(response.error);
              })
          }
          else
            console.log("error");
        };
      });
    </script>
    <script>
      function transition_down(){
        document.getElementById('main').style.height='500px';
      }
      function transition_up(){
        document.getElementById('main').style.height='300px';
      }        
    </script>
  </head>
  <body ng-app="app" ng-controller="myCtrl">
    <div class="container" id="main">
      <h1>Welcome</h1>
      <ul class="nav nav-tabs">
          <li  class="btn btn-default active navbutton" data-toggle="tab" onclick="transition_down()" href="#signIn"><span class="glyphicon glyphicon-user "></span> <span >Sign-Up</span></li>
          <li class="btn btn-default  navbutton" data-toggle="tab" onclick="transition_up()" href="#login"><span class="glyphicon glyphicon-log-in"></span><span>Log-In</span></li>
      </ul>
      <div class="tab-content">
        <div id="login" class="tab-pane fade" >
          <h2>Login.</h2>
          <form role="form"  method="post"  action="login.html">
            <input type="text" class="form-control" ng-model="email" placeholder="Enter your Email" id="email">
            <input type="password" class="form-control" ng-model="password" placeholder="Password" id="password">
            <a type=submit class="btn btn-primary" ng-click=" login()"  ><span class="glyphicon glyphicon-ok-sign g1"></span><span class="nt">Submit</span></a>
          </form>
        </div>
        <div id="signIn" class="tab-pane fade in active">
          <h2>New User? Come.. Lets Join.</h2>
          <form role="form"  method="post" action="signup.html">
            <input type="text" class="form-control" placeholder="First Name" ng-model="first">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="last">
            <input type="email" class="form-control" placeholder="Email" ng-model="email">
            <input type="password" class="form-control" placeholder="Password" ng-model="npassword">
            <input type="password" class="form-control" placeholder="Retype Password" ng-model="rpassword">
            <input type="text" class="form-control" placeholder="City" ng-model="city">
            <input type="text" class="form-control" placeholder="contact" ng-model="contact">
            <a type=submit class="btn btn-primary" ng-click=signIn() ><span class="glyphicon glyphicon-ok-sign g1"></span><span >Submit</span></a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
