<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <link href="css/quiz.css" rel="stylesheet">
  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope, $http,$timeout) {
      $scope.start = "true";
      $scope.show_message=false;
      $scope.final_ans = [];
      $scope.url=window.location.href ;
      $scope.first=$scope.url.substring($scope.url.indexOf('=')+1);
      $scope.initialise = function() {
        $scope.start = !$scope.start;
        $http.get("https://arcane-wave-70796.herokuapp.com/api/questions").then(function(response) {
          $scope.data1 = response.data.questions;
          $scope.count = $scope.data1.length;
          $scope.counter=$scope.count*2;
          $scope.next(0);
          for (var i = 0; i < $scope.count; i++) $scope.final_ans[i] = "false";
        });
        $scope.countdown();
      };

      $scope.next = function(x) {
        if (x < $scope.count) {
          $scope.qno = x + 1;
          $scope.option = _.pluck($scope.data1[x].answers, 'choice');
          if ($scope.qno == $scope.count) $scope.btn1 = "true";
          else $scope.btn1 = "false";
        } 
        else alert("no more questions");
      };

      $scope.countdown = function() {
        stopped = $timeout(function() {
        console.log($scope.counter);
        $scope.counter--;  
        if($scope.counter==0)
        {
          $scope.stop();
          $scope.finish();
          alert("Timeout"); 
        }
        else
          $scope.countdown();   
        }, 1000);
      };

      $scope.stop = function(){
        $timeout.cancel(stopped);
      }  

      $scope.getclass=function(){
        if($scope.score>$scope.count*2.5)
          return 'green';
        else
          return 'red';
      }

      $scope.check = function(x) {
        $scope.final_ans[$scope.qno - 1] = $scope.data1[$scope.qno - 1].answers[x].is_correct;
        $scope.next($scope.qno);
      };

      $scope.finish = function() {
        $scope.score = 0;
        $scope.stop();
        for (var i = 0; i < $scope.count; i++) {
          if (angular.equals($scope.final_ans[i], true)) {
            console.log("true in loop");
            $scope.score += 5;
          }
        }
        if($scope.score>$scope.count*2.5)
          $scope.result="passed";
        else
          $scope.result="failed";
        $scope.start=true;
        $scope.show_message=true;
      };
    });
  </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container">
    <h1>Quiz</h1>
    <div class="row" id=rules>
      <div class="col-xs-12">
        <h3>Rules</h3>
        <ul id="rule-li">
          <li>Each carry 5 marks.</li>
          <li>Pass percentage is 50%.</li>
          <li>You have only (2*number of questions) seconds for answering all questions.</li>
        </ul>
      </div>
    </div>
    <div class="row" id="content">
      <div class="row" ng-show=start>
        <h2><b >Welcome {{first}}</b></h2>
        <button class="btn btn-primary " ng-click=initialise()>Get Started!</button>
        <a class="btn btn-primary " href="login.html" ng-click=fun()>Log out</a>
        <div id="message" ng-show="show_message" ng-class=getclass()>
          Total correct Answers:{{score/5}}<br>
          Total Wrong Answers:{{count-score/5}}<br>
          Total Score:{{score}}<br>
          Result:{{result |uppercase}}
        </div>
      </div>
      <div class="col-sm-4 question_body" ng-hide=start>
        <ul class="list-group" id="lists">
          <li class="list-group-item" ng-repeat="x in data1" ng-click="next($index)">{{$index+1}}</li>
        </ul>
      </div>
      <div class="col-sm-7 question_body" ng-hide=start>
        <div class="row">
          <div class="col-sm-offset-5 col-xs-1" id="question_number"> <span id="qno">{{qno}}</span>/{{count}} </div>
          <div class="col-sm-offset-5 col-xs-1" id="counter"> <span>{{counter}}</span> sec</div>
          <div class="col-xs-12" >
            <p class="col-xs-12" id="display_question">{{data1[qno-1].question}}</p>
            <form class="col-xs-12" role="form">
              <div >
                <ul id="options">
                  <li class="col-sm-5" id="each_option" ng-click=check($index) ng-repeat="op in option">{{op}}</li>
                </ul>
              </div>
              <div id="finish_button">
                <button type="button" class="btn btn-success col-sm-offset-6 col-sm-3" ng-click=finish()>Finish Test</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>